body {
  padding: 25px;
  background-color: white;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', 'sans-serif';
    font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.fancy-font {
    font-family: 'Garamond', 'Baskerville', 'serif';
}

#showman {
    font-size: xxx-large;
    align-content: center;
}

#showman-center {
    font-size: xx-large;
    align-content: center;
}

header {
    background-color: #6d6c97;
}

header a {
    color: white;
}

